body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #000000;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
	  -ms-flex-pack: center;
		  justify-content: center;
  text-align: center;
}

.heading_container h2 {
  font-weight: bold;
  position: relative;
}

.heading_container h1 {
  position: relative;
}

.heading_container h2::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 75px;
  height: 5px;
  background-color: #42A9B6;
  -webkit-transform: translateX(-50%);
		  transform: translateX(-50%);
}


.sub_page .hero_area {
  height: auto;
}

.sub_page .who_section.layout_padding {
  padding-top: 0;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  background-color: #151618;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  margin: 10px 30px;
  padding: 0;
  color: #ffffff;
  text-align: center;
  position: relative;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link::after {
  display: none;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #42A9B6;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active a::after, .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item:hover a::after {
  display: block;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
		  box-shadow: none;
}

.user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
	  -ms-flex-align: center;
		  align-items: center;
}

.user_option a {
  color: #ffffff;
  margin: 10px 30px;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
	  -ms-flex-align: center;
		  align-items: center;
  position: relative;
}

.navbar-brand span {
  font-size: 20px;
  color: #42A9B6;
  position: relative;
  z-index: 3;
}


.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}


/*end header section*/
.slider_section {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
	  -ms-flex-align: center;
		  align-items: center;
  color: #ffffff;
}


.how_section .how_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
	  -ms-flex-pack: center;
		  justify-content: center;
  padding: 45px 60px;
  -ms-flex-wrap: wrap;
	  flex-wrap: wrap;
}

.how_section .how_container .box {
  text-align: center;
  margin: 10px;
  min-width: 200px;
  width: 325px;
}

.how_section .how_container .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
	  -ms-flex-pack: center;
		  justify-content: center;
  height: 200px;
  background-color: #f6f5f7;
}

.how_section .how_container .box .img-box svg {
  width: 75px;
  height: auto;
}

.how_section .how_container .box .detail-box {
  margin-top: 15px;
}

.how_section .how_container .box .detail-box h5 {
  font-weight: bold;
  position: relative;
}

.how_section .how_container .box .detail-box h5::before {
  display: none;
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 75px;
  height: 2px;
  background-color: #42A9B6;
  -webkit-transform: translateX(-50%);
		  transform: translateX(-50%);
}

.how_section .how_container .box .detail-box p {
  color: #b8b8b8;
}

.how_section .how_container .box:hover .img-box {
  background-color: #42A9B6;
}

.how_section .how_container .box:hover .img-box svg {
  fill: #ffffff;
}

.how_section .how_container .box:hover .detail-box {
  margin-top: 15px;
}

.how_section .how_container .box:hover .detail-box h5::before {
  display: block;
}

.how_section .how_container .box:hover .detail-box p {
  color: #808080;
}

.how_section a, a:hover {
  color: #ffffff;
}



.btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
	  -ms-flex-pack: center;
		  justify-content: center;
}

.btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #272727;
  border: 1px solid #42A9B6;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.btn-box a:hover {
  -webkit-transform: translateY(-3px);
		  transform: translateY(-3px);
  -webkit-box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
		  box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 0.2);
}



.about_section {
  text-align: center;
}

.about_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
	  -ms-flex-direction: column;
		  flex-direction: column;
  -webkit-box-align: center;
	  -ms-flex-align: center;
		  align-items: center;
}

.about_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
	  -ms-flex-pack: center;
		  justify-content: center;
  margin-top: 25px;
}

.about_section .box .detail-box {
  margin-top: 25px;
}

.about_section .box .img-box img {
  max-width: 100%;
  -webkit-filter: drop-shadow(0px 36px 13px rgba(0, 0, 0, 0.3));
		  filter: drop-shadow(0px 36px 13px rgba(0, 0, 0, 0.3));
}

.about_section .btn-box {
	margin-top: 35px;
}






.doc_section {
  text-align: left;
}

.doc_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
    -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
}

.doc_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
  margin-top: 25px;
}

.doc_section .box .detail-box {
  margin-top: 25px;
}

.doc_section .box .img-box img {
  max-width: 100%;
  -webkit-filter: drop-shadow(0px 36px 13px rgba(0, 0, 0, 0.3));
      filter: drop-shadow(0px 36px 13px rgba(0, 0, 0, 0.3));
}

.doc_section .btn-box {
  margin-top: 35px;
}



.doc_section .gif {
  justify-content: center;
  text-align: center;
}

.doc_section .gif img {
  width: 100%;
  max-width: 800px;
}



section.app_section {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#42A9B6), to(#072e85));
  background: linear-gradient(to right, #42A9B6, #072e85);
}

section.app_section .row {
  -webkit-box-align: center;
	  -ms-flex-align: center;
		  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

section.app_section .detail-box h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

section.app_section .detail-box .download_box {
  margin-top: 55px;
  max-width: 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
	  -ms-flex-align: center;
		  align-items: center;
}

section.app_section .detail-box .download_box h5 {
  margin-right: 25px;
}

section.app_section .detail-box .download_box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.app_section .detail-box .download_box .btn-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5px;
  padding: 0;
  background-color: none;
  border: none;
  color: none;
}

section.app_section .detail-box .download_box .btn-box a img {
  max-width: 100%;
}

section.app_section .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
	  -ms-flex-pack: center;
		  justify-content: center;
  -webkit-transform: scale(1.07) translateY(-14px);
		  transform: scale(1.07) translateY(-14px);
}

section.app_section .img-box img {
  width: 85%;
}




/* footer section*/
.footer_section {
  background-color: #171717;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
	  -ms-flex-pack: center;
		  justify-content: center;
}

.footer_section p {
  padding: 20px;
  color: #636363;
  margin: 0 auto;
  text-align: center;
}

.footer_section a {
  color: #636363;
}
